<form
    (ngSubmit)="onJobAdd()">

    <input
            [(ngModel)]="job.name"
            placeholder="Poste"
            type="text">

    <input
            [(ngModel)]="job.startDate"
            placeholder="Jour"
            type="date">

    <input
            [(ngModel)]="job.startTime"
            placeholder="Heure de début"
            type="time">

    <input
            [(ngModel)]="job.duration"
            placeholder="Nombre d'heures"
            type="text">

    <input
            placeholder="Nombre de personnes"
            type="text">

    <button type="submit">Ajouter</button>

</form>

<lz-greetings [(name)]="job.name"></lz-greetings>

<div *ngFor="#job of jobList">
    <span>{{ job.name }}</span>
    <span>{{ job.startDate }}</span>
    <span>{{ job.startTime }}</span>
    <span>{{ job.duration }}</span>
    <button>Cool !</button>
    <button>Ah non, finalement, j'ai piscine</button>
</div>
