
<html>

<head>

    <!-- Scripts -->

    {% if debug %}
    <script src="//{{livereload_hostname|escapejs}}:8729/livereload.js"></script>
    {% endif %}

    {% include "home_dependencies.html" %}

    <!-- App files. -->

    <!-- build:css(app) ../assets/styles/app.min.css -->
    <link rel="stylesheet" type="text/css" href="/angular/**/*.{css,less}">
    <!-- endbuild -->

    <!-- build:jsApp(app) ../assets/scripts/app.min.js -->
    <script src="/angular/**/ng-module-*.js"></script>
    <script src="/angular/**/ng-{config,controller,directive,filter,model,run,service}-*.js"></script>
    <!-- endbuild -->

</head>

{% include "home_body.html" %}

</html>